
/* Deal with old browsers that don't have HTML5 elements */
header, section, footer, aside, nav article, figure{display:block;}
* /* Reset default margin and padding (8px default) */
{
    margin:  0; 
    padding: 0;
    border: none;
}

h1
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16;
    color:blue;
}

h2
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14;
    color:darkcyan;
}

h3
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12;
    color:cadetblue;
}


header
{
    background-color: lightgrey;
    border: 3px solid black;
    float:left;
    /* width: 800px; */
}

.menu
{
    color: red;
    font-size:16px;
    font-family:'Times New Roman', Times, serif;
    float:left;
    padding: 0px 5px 0px 0px;
    
}

#h_menu, #TABLE
{
    display:inline;
    
}


.menu:hover
{
    background-color: orange;
    color: blue;
}

.menu:active
{
    background-color: white;
    color: black;
}

.menu:visited
{
    color: purple;
    
}