
/* Deal with old browsers that don't have HTML5 elements */
header, section, footer, aside, nav article, figure{display:block;}
* /* Reset default margin and padding (8px default) */
{
    margin:  0; 
    padding: 0;
    border: none;
}

h1
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16;
    color:blue;
}

h2
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14;
    color:darkcyan;
}

h3
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12;
    color:cadetblue;
}


:not(#b){list-style: upper-roman;}