/*
    Written by:   Jad Fouk Aladeh
    Date:         2024-05-30
    Purpose:      The purpose of this CSS page is to style the login.html page using only CSS
*/
.text_label
{
    float: left;
    width: 100px;
    text-align: right;
    padding: 0px 10px 0px 0px;
}

.text_input
{
    width: 150px;
    text-align: left;
    padding: 0px 0px 0px 10px;
}
body{
    background-color: green;
}

legend
{
    
    background-color: red;
    color: white; 
    border: 3px solid black; 
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    

}

#request_type
{
    padding: 10px 10px 10px 10px;
    text-align: left;
}


link:hover
{
    background-color: yellow;
}

link:active
{
    background-color: green;
}

#test:hover
{
    background-color: purple;
}
p:hover.check
{background-color: yellow;
    color: green;}
a:hover.div
{
    background-color: red;
}
#submit
{ 
    float: left;
} 


#sumbit:hover
{
    color: red; 
}

#sumbit:active
{
    color: blue; 
}

input#submit
{
    background-color: blue;
    color: white;
}

input#submit:hover
{
    background-color: white;
    color: blue;
}

input#submit:active
{
    color: orange;
}

input.text, textarea.text 
{
    color:gray;

}

input.text:focus, textarea.text:focus
{
    color:black;
}

textarea
{
    width: 500px;
	height: 300px;
    color: #707172;
	font-family: Arial, Verdana, sans-serif;
    background-image:url("../Images/team logo.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 50%; 
}



